@font-face {
    font-family: 'lack line';
    src: url('../fonts/lack-line-regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lack';
    src: url('../fonts/lack-regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}